@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-100: #504e70;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-100: #e9e9e9;
}

body {

    line-height: 1.5;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;

}

.hidden {
    display: none !important;
}

.main-content {
    padding-left: 270px;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    margin: auto;
    width: 100%;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;

}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 50px;
    height: 4px;
    background: var(--skin-color);
}

.section-title h2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 25px;
    height: 4px;
    background: var(--skin-color);
    margin-bottom: 8px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Aside Section */
.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    height: 100%;
    top: 0;
    padding: 30px;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 4px;
    position: relative;
}

.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
}

.aside .logo a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span {
    display: inline-block;
    width: 20px;
    height: 2px;
    background: var(--skin-color);
    position: relative;
}

.aside .nav-toggler span::before {
    content: '';
    position: absolute;
    left: 0;
    top: -7px;
    width: 20px;
    height: 2px;
    background: var(--skin-color);
}

.aside .nav-toggler span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 20px;
    height: 2px;
    background: var(--skin-color);
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    color: var(--text-black-900);
    font-weight: 600;
    padding: 5px 15px;
    font-size: 16px;
    border-bottom: 1px solid var(--bg-black-50);
    display: block;
}

.aside .nav li .active {
    color: var(--skin-color);
}

.aside .nav a li {
    margin-right: 15px;
}

/* Home Section */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-Info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;

}

h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;

}

.home-Info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-100);
}

.home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: -10px;
    top: -40px;
}

.home-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 15px;
    bottom: -35px;
}

.home .home-img img {
    height: 350px;
    margin: auto;
    border-radius: 5px;
}

/* About Section */
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 18px;
    line-height: 25px;
    color: var(--text-black-900);
}


.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);

}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-900);
    margin-left: 4px;
    display: inline-block;

}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-top: 10px;
    margin-right: 15px;
}

.about .about-content .skills .skill-item {

    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-black-900);
    line-height: 40px;
    text-transform: capitalize;

}

.about .about-content .skills .skill-item .progress {
    height: 7px;
    background: var(--bg-black-50);
    border-radius: 5px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -35px;
    font-weight: 500;
    line-height: 40px;
}

.about .about-content .education,
.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
    color: var(--text-black-900);

}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .education .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
}

.about .about-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 35px;
    padding-bottom: 25px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    position: absolute;
    left: 7px;
    height: 100%;
    width: 2px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-black-700);
    margin-bottom: 10px;
}

.about .about-content .timeline .timeline-date .fa {
    font-size: 16px;
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-black-900);
    margin-bottom: 10px;
    text-transform: capitalize;
}

.about .about-content .timeline .timeline-text {
    font-size: 18px;
    text-align: justify;
    color: var(--text-black-700);
    line-height: 25px;
}

/* Project Section */
.project .project-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.project .project-heading h2 {
    font-weight: 600;
    color: var(--text-black-900);
}

.project .container {
    padding-bottom: 40px;
}

.project .project-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 20px;
}

.project .project-item-inner {
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    border: 6px solid var(--bg-black-100);
}

.project .project-item-inner .project-img img {
    height: 220px;
    width: 100%;
    display: block;
}

/* contact Section */
.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 24px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.contact .contact-info-item {
    flex: 0 0 20%;
    max-width: 20%;
    text-align: center;
    margin-top: 40px;

}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa,
.contact .contact-info-item .icon .fa-brands {
    font-size: 40px;
    color: var(--skin-color);
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 60px;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid var(--bg-black-50);
    padding: 10 25px;
    font-size: 16px;
    color: var(--text-black-900);
    background: var(--bg-black-100);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

}

.contact .contact-form .form-item .form-control::placeholder {
    color: var(--text-black-100);
}

.contact .contact-form .form-item textarea.form-control {
    height: 150px;
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}

@media (max-width:428px) {
    .aside {
        left: -270px;
    }

    .media-content {
        padding-left: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }


}

@media (max-width:991px) {

    .contact .contact-info-item,
    .project .project-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-Info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }
}

@media (max-width:428px) {

    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .project .project-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;

    }

}